.container {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

.top-bun {
  width: 130px;
  height: 30px;
  color: black;
  position: absolute;
  box-shadow: 150px 150px 0 0 currentColor;
  border-radius: 30px 30px 0 0;
}

.meat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 150px 190px 0 0 currentColor, 175px 190px 0 0 currentColor,
    200px 190px 0 0 currentColor, 225px 190px 0 0 currentColor,
    250px 190px 0 0 currentColor;
}

.bottom-bun {
  width: 130px;
  height: 30px;
  color: black;
  position: absolute;
  box-shadow: 150px 230px 0 0 currentColor;
  border-radius: 0 0 30px 30px;
}
