.container {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  background-color: transparent;
}

.glass-left {
  position: absolute;
  top: 85px;
  left: 30px;
  height: 160px;
  width: 70px;
  background-color: transparent;
  border: 12px solid currentColor;
  border-right: transparent;
  transform: skewX(3deg);
}

.glass-right {
  position: absolute;
  top: 85px;
  left: 70px;
  height: 160px;
  width: 70px;
  background-color: transparent;
  border: 12px solid currentColor;
  border-right: transparent;
  transform: rotate(180deg) skewX(-3deg);
}

.drink {
  position: absolute;
  top: 130px;
  left: 35px;
  width: 110px;
  height: 130px;
  background-color: currentColor;
}

.straw {
  width: 190px;
  height: 131px;
  box-sizing: content-box;
  position: absolute;
  overflow: hidden;
}

.straw:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 100px;
  bottom: -30px;
  right: -30px;
  border: 12px solid #000;
  border-radius: 15px;
  box-sizing: content-box;
  transform: skewX(-15deg);
}

.top-bun {
  width: 130px;
  height: 30px;
  color: black;
  position: absolute;
  box-shadow: 150px 150px 0 0 currentColor;
  border-radius: 30px 30px 0 0;
}

.meat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 150px 190px 0 0 currentColor, 175px 190px 0 0 currentColor,
    200px 190px 0 0 currentColor, 225px 190px 0 0 currentColor,
    250px 190px 0 0 currentColor;
}

.bottom-bun {
  width: 130px;
  height: 30px;
  position: absolute;
  box-shadow: 150px 230px 0 0 currentColor;
  border-radius: 0 0 30px 30px;
}

.plate {
  width: 280px;
  height: 20px;
  position: absolute;
  box-shadow: 10px 270px 0 0 currentColor;
  border-radius: 0 0 30px 30px;
}
