.container {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
}

.glass-left {
  position: absolute;
  top: 90px;
  left: 30px;
  height: 160px;
  width: 70px;
  background-color: transparent;
  border: 10px solid currentColor;
  border-right: transparent;
  transform: skewX(3deg);
}

.glass-right {
  position: absolute;
  top: 90px;
  left: 70px;
  height: 160px;
  width: 70px;
  background-color: transparent;
  border: 10px solid currentColor;
  border-right: transparent;
  transform: rotate(180deg) skewX(-3deg);
}

.drink {
  position: absolute;
  top: 140px;
  left: 35px;
  width: 110px;
  height: 130px;
  background-color: currentColor;
}

.top-bun {
  width: 130px;
  height: 30px;
  color: black;
  position: absolute;
  box-shadow: 150px 150px 0 0 currentColor;
  border-radius: 30px 30px 0 0;
}

.meat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 150px 190px 0 0 currentColor, 175px 190px 0 0 currentColor,
    200px 190px 0 0 currentColor, 225px 190px 0 0 currentColor,
    250px 190px 0 0 currentColor;
}

.bottom-bun {
  width: 130px;
  height: 30px;
  position: absolute;
  box-shadow: 150px 230px 0 0 currentColor;
  border-radius: 0 0 30px 30px;
}

.plate {
  width: 280px;
  height: 20px;
  position: absolute;
  box-shadow: 10px 270px 0 0 currentColor;
  border-radius: 0 0 30px 30px;
}
